
        <form action="/Categoria/Adiciona" method="post">
            <label for="nome">Nome</label>
            <input id="nome" name="Categoria.Nome" class="form-control"/>

            <label for="descricao">Descricao</label>
            <input id="descricao" name="Categoria.descricao" class="form-control" />
            <br />
            <input type="submit" value="Cadastrar"  />
        </form>
